
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&family=Roboto:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    width: 1800px;
    background: rgba(148, 184, 196, 0.835);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 5px; 
    top: 20px;
}

/* Container com todos os elementos */
#container {
    background: #fff;
    box-shadow: 20px 5px 8px 1px rgba(17, 17, 17, 0.311);
    border-radius: 50px;
    width: 500px;
    height: 400px;
    position: relative;
    left: 800px;
    top: 200px;
}

/* Botão de pesquisa */
#cep button {
    font-weight: 900;
    font-family: 'roboto';
    background: rgba(55, 115, 136, 0.317);
    width: 100px;
    height:35px;
    border-radius: 80px;
    position: relative;
    left: 130px;
    bottom: -100px;
}

/* Input do campo de busca */
#cep input {
    width: 160px;
    height: 40px;
    position: relative;
    text-align: center;
    bottom: -100px;
    left: 120px;
    border-radius: 80px;
}

/* Label com o nome CEP: */
#endereço {
    font-weight: 900;
    position: relative;
    right: -95px;
    bottom: -98px;
}

/* Área do resultado quando se clica em pesquisar o CEP */
#resultado {
        width: 400px;
        font-size: 16px;
        text-align: center;
        display: flex;
        position: relative;
        left: 60px; 
        top: 140px;
}
